<link rel="stylesheet" href="/about.css">
<h1>About me</h1>
<ul id="hej">
    <li>Firstname: Jonatan</li>
    <li>Lastname: Larsson</li>
    <p id="paragraph">On my spare time I like to:</p>
    <li>Play sports</li>
    <li>Play videogames</li>
    <li>Travel to different places in the world</li>
    <li>Hang out with my friends</li>
</ul>